@media screen and (min-width: 1200px){
    .main-div{
        width: 1200px;
        height: 100%;
    }
    .article-div{
        position: relative;
        right: 320px;
        top: 250px;
    }
    .grid-container1{
        position: relative;
        left: 200px;
        bottom: 200px;
    }
    .p1{
        color: #FFF;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.521px;
text-align: left;
width: 525px;
height: 131px;
    }
    .p2{
        color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
text-align: left;
width: 525px;
    }
    .grid-container1{
        grid-template-columns: 540px;
    }
    .free-trial input{
        width:460px ;
        position: relative;
        right: 90px;
    }
    .trial-button button:hover{
        background-color:#77E2B3 ;
    }
    .trial-button button{
        width: 280px;
        height: 56px;
        border: 0px ;
        background-color: #38CC8B;
        color: white;
    border-radius: 10px;
    width: 470px;
    }



}